.sidenav {
    list-style: none;
    width: 100%;
}
.sidenav li a {
    display: block;
    padding: 8px 16px;
    color: rgba(0,0,0,.5);
}
.sidenav li a:hover {
    color: #0f0f0f;
    text-decoration: none;
}
#mySidenav{
    width: 0px;
    height: 90%;
    overflow: hidden;
    position: absolute;
    z-index: 1; /* Stay on top */
    top: 70px;
    left: 0;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    list-style: none;
    border-right: 1px solid #c0c0c0;
}
#wrapper{

}