html,
body {
    height: 100%;
}

body {
}

h1 {
    font-family: Verdana,Arial,Tahoma;
}
.header {
    border-bottom: 1px solid #c0c0c0;
}

/*input[type="text"]{*/
/*    transition: border linear .2s,box-shadow linear .2s;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    line-height: 20px;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    color: #555;*/
/*}*/

.a-like:hover {
    text-decoration: underline;

    outline: none;
}

.a-like, .href, a {
    color: #0a82a8;
    cursor: pointer;
}
.navbar {
    /*border-bottom: 1px solid #c0c0c0;*/
    box-shadow: 0px 0px 10px 0px #c7c7c7;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    /*text-align: center;*/
    background-color: #ffffff!important;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.search {
    padding-bottom: 20px;
}

ul.bs-autocomplete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
    font-weight: normal;
    color: #333333;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-state-active,
.ui-state-focus {
    color: #23527c;
    background-color: #eeeeee;
}

.bs-autocomplete-feedback {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-top: .5em;
    margin-right: .5em;
}

.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #333;
    background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.city-list{
    list-style-type: none !important;
}
.city-list a{
    color: inherit !important;
}
.reset-location{
    text-align: center !important;
}
.reset-location a{
    font-size: 1.5rem !important;
}
.text-align-left{
    text-align: left !important;
}
.color-grey{
    color: #868e96!important;
}
.padding-bottom-10{
    padding-bottom: 10px;
}
.padding-top-10{
    padding-top: 10px;
}
.icon-active{
    color: #4FB6EB;
    cursor: pointer;
}
.icon-inactive{
    cursor: pointer;
}
.icon-disabled{
    color: #CACACA;
}
.ads-pre-text{
    color: #a9a7a7 !important;
}
.price-title{
    font-size: 30px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}
.width-100{
    width: 100%;
}
.cities-list{
    color: #007bff;
}
.pagination-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
}
.pagination-link-active{
    border: 1px solid #ddd;
}
.grey-text{
    color: #818182;
    padding-top: 20px;
}
